body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;   
}

#map { 
    height: 100vh; 
}

#map-wrapper {   
    position: relative;
    border: 1px solid black;
}

#button-wrapper {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 100%;    
}

#button-wrapper button{
    padding: 5px;    
} 

.leaflet-popup-tip {
  display: none;
  width: 0;
  height: 0;
}

.map-button {
    height: 46px;
    width: 26px;  
} 

.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.3em;
}

#overlay {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  right: 0;
  margin: 15px;
}

#countries {
  width:fit-content; 
  border-radius: 10px;
  top: 10px;
  position: absolute;    
  z-index: 1001;  
  left: 50%;
  transform: translate(-50%);  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

#description{
  background-color: rgba(248, 248, 249, 0.5);
  border-radius: 10px;
  padding: 10px;
  text-align: center;  
  display:none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20px;
  z-index: 1001;
}

#currency-select {
  border-radius: 10px;
}

#modal{
  position: absolute;
}

.modal-header {
  background-color: rgb(231, 231, 231);
  display: flex; 
  align-items: center;  
}

.header-top {
  width: 100%;
}

#weather-header {
  display: flex;
  flex-direction: column;  
}

#weather-country {
  padding-top: 10px;
  padding-bottom: 20px;
}

#country-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#weather-icon {
  width: 75px;
}

.icon-temp-box {
  display: flex;
  flex-direction: column;
}

#icon-temp {
  text-align: center;
}

.modal-content{
  display: flex;
  flex-direction: column;
}

#news-body a{
  text-decoration: none;
  color: rgb(70, 70, 70);
}

.news-article {
  display: flex;
  flex-direction: row;
}

.news-article img {
  width: 25%;
  height: 25%;
}

.article-body {
  width: 100%;
  padding-left: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-body-details {
  display: flex;
  justify-content: space-between;
}